<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    {% block header %}
    {% endblock %}
</head>
<body>
    {%block body%}
    {% endblock %}
<script>
    const price = document.querySelectorAll('.price');
    price.innerText = Number(price.innerText).toLocaleString();
    price.forEach((item) =>{
        item.innerText = Number(item.innerText).toLocaleString() + ' تومان ';
    });

    const header_menu = document.getElementById('header-menu')
    const chenge_header_menu = (show)=>{
        if (show){
            header_menu.style.height = header_menu.scrollHeight + "px" 
        }else{
            header_menu.style.height = '0' 
        }

    }
</script>    
</body>
</html>