{% extends 'base.html' %}
{% block header %}
    <title> محصول {{ product.name }}</title>
{% endblock %}

{% block body %}

    {% include 'parts/header.html' %}

    <div>
    <div>
        <img style="width: 300px ;" src="{{ url_for('static',filename='covers/'+product.id|string +'.jpg') }}">
    </div>
    <section>
        <h1>{{ product.name }}</h1>


        <span class="tag yellow"><img src="{{url_for('static' , filename='themes-image/del.png')}}">ارسال رایگان</span>
        <span class="tag red"><img src="{{url_for('static' , filename='themes-image/done.png')}}">اصالت کالا</span>


    </section>
    </div>

    <br>
    {{ product.description }}<br>
    {{ product.price }}

    <form method="get" action="/add-to-cart">
        <input type="hidden" name="id" value="{{ product.id }}">
        <input type="submit" value="اضافه کردن به سبد خرید">

    </form>
{% endblock %}